{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Título -->
    <title>Well Dev Teste</title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'img/favicon.ico' %}">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static '/css/main.css' %}">

</head>

<body>
    
    {% block content %} {% endblock %}

    <!-- ##### All Javascript Files ##### -->
    <script src="{% static 'js/main.js' %}"></script>
    
</body>

</html>